.canvas-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin-left: 25%;
  margin-right: 25%;
}

.test {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  width: minmax(10, 20);
}

.test h1 {
  font-size: 18px;
}

.test p {
  margin-top: -10px;
}

.test div {
  border: 1px solid black;
}
